@import url(header.css);
@import url(sobreMi.css);
@import url(skillsHobbies.css);
@import url(formacion.css);
@import url(proyectos.css);
@import url(contacto.css);
@import url(screens.css);

/*Globales*/
html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background: #dfe4e8;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 80%;
    display: flex;
}

.tituloSeccion{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    margin: 20px 0;
    color: black;
}

/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 250px;
    background: black;
    color: #f5f6fb;
    font-size: 25px;
}
